@model List<MyProject.Models.Domain.Location>

@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Location Details</h1>
    </div>
</div>

<div class="container py-5">
    <div>
        <a onclick="showPopUp('@Url.Action("Add","AdminLocation",null,Context.Request.Scheme)','Add Location')" class="btn btn-dark">Add Location</a>
    </div>

    <br />
    
    @if (Model != null && Model.Any())
    {
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    @* <th>Id</th> *@
                    <th>Location Name</th>
                    <th>Location Room</th>
                    <th>Users</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var location in Model)
                {
                    <tr>
                       @*  <td>@location.Id</td> *@
                        <td>@location.LocationName</td>
                        <td>@location.LocationRoom</td>

                        @* To show users associate with the locations *@
                        <td>
                            <div class="d-flex">
                                @foreach (var user in location.Users)
                                {
                                    <span class="badge bg-secondary me-1">@user.FirstName</span>
                                }
                            </div>
                        </td>
                        <td>
                            <a onclick="showPopUp('@Url.Action("Edit","AdminLocation",new {id =location.Id },Context.Request.Scheme)','Edit Location')" class="btn btn-dark">Edit</a>
                            @* <a asp-area="" asp-controller="AdminLocation" asp-action="Edit" asp-route-id="@location.Id">Edit</a> *@
                        </td>
                    </tr>  
                }
            </tbody>
        </table>

        @if (TempData["successMessage"] != null)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <b>Success: </b>@TempData["successMessage"]
            </div>
        }
    }
    else
    {
        <p>Location ADDED failed.</p>
    }
</div>

<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
